<div class="backdrop">
  <div class="menu">
    <div class="menu-header">
      <a href="tel:+380684439426" class="contacts-menu">+380 (68) 443-94-26</a>
      <button type="button" class="modal-button">
        <img src="./images/header/menu/close-button.svg" alt="close" />
      </button>
    </div>

    <ul class="menu-list">
      <li><a href="#about-us" class="menu-item">About us</a></li>
      <li>
        <a href="#our-collection" class="menu-item">Our collection </a>
      </li>
      <li><a href="#your-order" class="menu-item">Customer order</a></li>
      <li><a href="#testimonials" class="menu-item">Testimonials</a></li>
    </ul>

    <div class="menu-element">
      <img
        srcset="./images/header/menu/mob_menu_element@2x.png 2x"
        src="./images/header/menu/mob_menu_element.png"
        alt="menu-orniture"
        class="menu-element-img"
      />
    </div>
  </div>
</div>
