<header>
  <div class="container">
    <nav class="navigation">
      <div class="header-info">
        <a href="./index.html">
          <img class="header-logo" src="../img/header/logo.svg" alt="logo" />
        </a>

        <ul class="header-list">
          <li class="header-item">
            <a class="header-link current" href="№about-us">About us</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#our-collection">Our collection </a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#your-order">Customer order</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#testimonials">Testimonials</a>
          </li>
        </ul>
      </div>

      <div class="contacts-list">
        <address>
          <div class="contacts-number">
            <a href="tel:+380684439426" class="contacts">+380 (68) 443-94-26</a>
          </div>
        </address>

        <div class="header-socials">
          <a
            href="https://www.facebook.com/goITclub/"
            class="header-button"
            target="_blank"
          >
            <svg width="28" height="28" class="icon">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>

          <a
            href="https://www.instagram.com/goitclub/"
            class="header-button"
            target="_blank"
          >
            <svg width="28" height="28" class="icon">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>

          <a
            href="https://www.youtube.com/c/GoIT"
            class="header-button"
            target="_blank"
          >
            <svg width="28" height="28" class="icon">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>

          <button type="button" class="menu-button">
            <img src="../img/header/header_menu_icon.svg" alt="menu" />
          </button>
        </div>
      </div>
    </nav>
  </div>
</header>
