
    <section class="hero-sec">
      <div class="hero-container">
      
          <h1 class="hero-text">
            Reviving the traditional
            <span class="yellow-text">Ukrainian</span> artistry in every stitch.
          </h1>
        

        <div class="star-container">
          <svg class="star-icon">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
          <p class="icon-text">all embroidery is made by hand</p>
        </div>
        
       
          <button class="order-btn" href="/your-order.html">
            Order
            <svg class="btn-icon" width="26" heigh="10">
              <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        
      
      
        
          <picture class="first-pic">
            <source media="(min-width: 1280px)" srcset="./img/desk/hero/desk_hero_img@1x.jpg 1x, ./img/desk/hero/desk_hero_img@2x.jpg 2x"/>
            <source media="(min-width: 768px)" srcset="./img/tab/hero/tab_hero_img@1x.jpg 1x, ./img/tab/hero/tab_hero_img@2x.jpg 2x"/>
            <source media="(min-width: 375px)" srcset="./img/mob/hero/mob_hero_img@1x.jpg 1x, ./img/mob/hero/mob_hero_img@2x.jpg 2x"/>

            <img
              src="./img/desk/hero/desk_hero_img@1x.jpg"
              alt="photo of girl"
              width="100%"
              height="100%"            
            />
          </picture>
          
     

       
          <picture class="second-img-container">
            <source
              srcset="
                ./img/tab/hero/tab_hero_second_img.jpg 1x,
                ./img/tab/hero/tab_hero_second_img@2x.jpg 2x
              "
            />
            <source
              srcset="
                ./img/desk/hero/desk_hero_second_img.jpg 1x,
                ./img/desk/hero/desk_hero_second_img@2x.jpg 2x
              "
            />
            <img
              src="./img/tab/hero/tab_hero_second_img.jpg "
              alt="photo of t-shirt"
              width="157"
              height="191"
              class="second-img"
            />
          </picture>
        
      </div>
      </div>
    </div>
    </section>
  </body>
</html>
