<section class="collection">
    <div class="container">
        <h2 class="collection-name ">Our collection</h2>
        <ul class="collection-list">
            <li class="collection-item">
                <div class="wrapper-imag-collection">
                    <img srcset="./img/mob/collection/mob_collection_img1.jpg 335w,
                                                                                                                            ./img/tab/collection/tab_collection_img1.jpg 342w,
                                                                                                                            ./img/desk/collection/desk_collection_img1.jpg 347w,
                                                                                                                            ./img/mob/collection/mob_collection_img1@2x.jpg 670w, 
                                                                                                                            ./img/tab/collection/tab_collection_img1@2x.jpg 684w, 
                                                                                                                            ./img/desk/collection/desk_collection_img1@2x.jpg 694w"
                        sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
                        src="./img/desk/collection/desk_collection_img1.jpg" alt="black women's blouse" width="347"
                        class="photo-blous">
                </div>
                <div class="wrapper-about">
                    <h3 class="product-name">AUGUST Poltava women's blouseRING</h3>
                    <p class="price-product">3300 UAH</p>
                </div>
            </li>
            <li class="collection-item">
                <div class="wrapper-imag-collection">
                    <img srcset="./img/mob/collection/mob_collection_img2.jpg 335w,
                                                                                                                                                ./img/tab/collection/tab_collection_img2.jpg 342w,
                                                                                                                                                ./img/desk/collection/desk_collection_img2.jpg 347w,
                                                                                                                                                ./img/mob/collection/mob_collection_img2@2x.jpg 670w, 
                                                                                                                                                ./img/tab/collection/tab_collection_img2@2x.jpg 684w, 
                                                                                                                                                ./img/desk/collection/desk_collection_img2@2x.jpg 694w"
                        sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
                        src="./img/mob/collection/mob_collection_img2.jpg" alt="milk women's blouse" width="347">
                </div>
                <div class="wrapper-about">
                    <h3 class="product-name">Women's blouse Gorgany</h3>
                    <p class="price-product">3350 UAH</p>
                </div>
            </li>
            <li class="collection-item">
                <div class="wrapper-imag-collection">
                    <img srcset="./img/mob/collection/mob_collection_img3.jpg 335w,
                                                                                                                                            ./img/tab/collection/tab_collection_img3.jpg 342w,
                                                                                                                                            ./img/desk/collection/desk_collection_img3.jpg 347w,
                                                                                                                                            ./img/mob/collection/mob_collection_img3@2x.jpg 670w, 
                                                                                                                                            ./img/tab/collection/tab_collection_img3@2x.jpg 684w, 
                                                                                                                                            ./img/desk/collection/desk_collection_img3@2x.jpg 694w"
                        sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
                        src="./img/mob/collection/mob_collection_img3.jpg" alt="white women's blouse" width="347">
                </div>
                <div class="wrapper-about">
                    <h3 class="product-name">Women's blouse Crimea</h3>
                    <p class="price-product">4000 UAH</p>
                </div>
            </li>
            <li class="collection-item">
                <div class="wrapper-imag-collection">
                    <img srcset="./img/mob/collection/mob_collection_img4.jpg 335w,
                                                                                                                                    ./img/tab/collection/tab_collection_img4.jpg 342w,
                                                                                                                                    ./img/desk/collection/desk_collection_img4.jpg 347w,
                                                                                                                                    ./img/mob/collection/mob_collection_img4@2x.jpg 670w, 
                                                                                                                                    ./img/tab/collection/tab_collection_img4@2x.jpg 684w, 
                                                                                                                                    ./img/desk/collection/desk_collection_img4@2x.jpg 694w"
                        sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
                        src="./img/desk/collection/desk_collection_img4.jpg" alt="milk men's blouse" width="347">
                </div>
                <div class="wrapper-about">
                    <h3 class="product-name">Men's shirt Verkhovina</h3>
                    <p class="price-product">3100 UAH</p>
                </div>
            </li>
            <li class="collection-item">
                <div class="wrapper-imag-collection">
                    <img srcset="./img/mob/collection/mob_collection_img5.jpg 335w,
                                                                                                                                    ./img/tab/collection/tab_collection_img5.jpg 342w,
                                                                                                                                    ./img/desk/collection/desk_collection_img5.jpg 347w,
                                                                                                                                    ./img/mob/collection/mob_collection_img5@2x.jpg 670w, 
                                                                                                                                    ./img/tab/collection/tab_collection_img5@2x.jpg 684w, 
                                                                                                                                    ./img/desk/collection/desk_collection_img5@2x.jpg 694w"
                        sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
                        src="./img/desk/collection/desk_collection_img5.jpg" alt="black men's blouse" width="347">
                </div>
                <div class="wrapper-about">
                    <h3 class="product-name">Mountain men's shirt</h3>
                    <p class="price-product">3300 UAH</p>
                </div>
            </li>
            <li class="collection-item">
                <div class="wrapper-imag-collection">
                    <img srcset="./img/mob/collection/mob_collection_img6.jpg 335w,
                                                                                                                                        ./img/tab/collection/tab_collection_img6.jpg 342w,
                                                                                                                                        ./img/desk/collection/desk_collection_img6.jpg 347w,
                                                                                                                                        ./img/mob/collection/mob_collection_img6@2x.jpg 670w, 
                                                                                                                                        ./img/tab/collection/tab_collection_img6@2x.jpg 684w, 
                                                                                                                                        ./img/desk/collection/desk_collection_img6@2x.jpg 694w"
                        sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
                        src="./img/desk/collection/desk_collection_img6.jpg" alt="white men's blouse" width="347">
                </div>
                <div class="wrapper-about">
                    <h3 class="product-name">Men's shirt Yasen</h3>
                    <p class="price-product">1700 UAH</p>
                </div>
            </li>
        </ul>
    </div>
</section>