
.about {
    background-image: url(../img/mob/about/mob_about_element.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    margin: 0 auto;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    max-width: 375px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-title {
    color: #FCF9F9;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
}

.about-description-store,
.about-description {
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;
}

.about-description {
    margin-top: 20px;
}

.about-menu {
    margin-top: 50px;
}

@media screen and (min-width: 768px) {


    .about {
        background-image: url(../img/tab/about/tab_about_element.png);
    }



    .container {
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 60px;
        max-width: 768px;
        margin-bottom: 50px;
    }

    .about-container {
        width: 704px;
    }

    .about-title {
        font-size: 44px;
        line-height: 1.45;
    }

    .about-description-store,
    .about-description {
        font-size: 16px;
    }

    .about-menu {
        margin-top: 40px;
    }

}

@media screen and (min-width: 1280px) {


    .about {
        background-image: url(../img/desk/about/desk_about_element.png);
    }


    .container {
        padding: 100px 150px;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        max-width: 1280px;
        padding-bottom: 80px;
        margin-bottom: 70px;
    }

    .about-container {
        width: 436px;
        height: 454px;
    }

    .about-menu {
        margin-top: 0;
    }
}