


.about {
    background-image: url(../img/mob/about/mob_about_element.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    margin: 0 auto;
    max-width: 375px;
    padding: 0 20px 62px 20px;
}


.container-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.about-title {
    color: #FCF9F9;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
}

.about-description-store,
.about-description {
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;
}

.about-description {
    margin-top: 20px;
}

.about-menu {
    margin-top: 50px;
}

.about-foto {
    border-radius: 4px;
}

@media screen and (min-width: 768px) {


    .about {
        background-image: url(../img/tab/about/tab_about_element.png);
        max-width: 768px;
        padding: 0 32px 50px 32px;
    }

    .container-about {
        max-width: 704px;
    }

    .about-title {
        font-size: 44px;
        line-height: 1.45;
    }

    .about-description-store,
    .about-description {
        font-size: 16px;
    }

    .about-menu {
        margin-top: 40px;
    }

}

@media screen and (min-width: 1280px) {


    .about {
        background-image: url(../img/desk/about/desk_about_element.png);
        max-width: 1280px;
        padding: 0 100px 80px 100px;
    }



    .container-about {
        flex-direction: row;
        align-items: center;
        gap: 50px;
        max-width: 1082px;
    }

    .about-text {
        width: 436px;
        height: 454px;
    }

    .about-menu {
        margin-top: 0;
    }
}