:root {
    --body-color: #1c2225;
    --text-color: #fcf9f9;
    --yellow-text: #ecd979;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  ul,
  ol {
    margin: 0;
    padding-left: 0;
  }
  img {
    display: block;
  }
  body {
    margin: 0;
  }
  
  .hero-sec {
    max-width: 100%;
    background-color: var(--body-color);
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .hero-img {
    max-width: 335px;
    width: 100%;
    height: 545px;
    flex-shrink: 0;
    border-radius: 4px;
  }
  .hero-text {
    color: var(--text-color);
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: -1.62px;
  }
  
  .yellow-text {
    color: var(--yellow-text);
  }
  
  .text-wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .order {
    margin-left: 70px;
  }
  .order-btn {
    margin-top: 20px;
    margin-bottom: 40px;
  
    color: var(--text-color);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.56px;
    text-transform: uppercase;
  
    display: inline-flex;
    height: 49px;
    padding: 14px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    background-color: transparent;
  }
  
  .btn-icon {
    fill: var(--yellow-text);
  }
  
  .star-container {
    width: 115px;
    display: none;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  .star-icon {
    width: 52px;
    height: 51px;
    fill: var(--yellow-text);
  }
  
  .icon-text {
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.64px;
  }
  
  .photo-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .second-img {
    flex-shrink: 0;
    display: none;
    width: 139px;
    height: 98.5px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  }
  
  @media screen and (min-width: 768px) {
    .hero-sec {
      padding: 106px 32px 100px 32px;
    }
  
    .hero-text {
      width: 549px;
    }
  
    .text-wrap {
      
      flex-wrap: wrap;
      flex-direction: column;
    }
   
    .star-container {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 80px;
      right: 32px;
    }
  
    .hero-img {
      min-width: 413px;
      height: 575px;
    }
  
    .order {
      margin-left: 173px;
    }
  
    .second-img-container {
      position: relative;
    }
    .second-img {
      display: flex;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .hero-sec {
      /* padding:100px 100px 151px 100px; */
      padding-left: 100px;
      padding-right: 100px;
    }
  
    .hero-text {
      width: 518px;
      margin-right: 15px;
    }
  
    .hero-img {
      min-width: 392px;
      height: 545px;
      position: absolute;
      top: 100px;
      left: 100px;
    }
  
    .text-container {
      width: 518px;
      margin-left: auto;
      margin-top: 94px;
      margin-right: 130px;
    }
  
    .star-container {
      top: 116px;
      right: 100px;
    }
    .order-btn {
      margin-right: 339px;
    }

    .order-btn:hover,
    .order-btn:focus{
        border: 1px solid var(--yellow-text); 
    }

    .text-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
  