body {
    font-family: 'Manrope', sans-serif;
    background: #1C2225;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.collection-section {
    background-image: url(../img/mob/collection/mob_collection_element.png);
    background-repeat: no-repeat;
    background-position-y: 316px;
    padding-bottom: 50px;
    padding-top: 18px;
}

.container-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 375px;
    margin: 0 auto;
}

.collection-name {
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.96px;
    text-align: center;
    margin-bottom: 40px;

}

.collection-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.wrapper-imag-collection {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 18px;
}

.product-name {
    overflow: hidden;
    color: var(--white, #FCF9F9);
    text-overflow: ellipsis;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}


.price-product {
    color: rgba(252, 249, 249, 0.40);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.7px;
}

@media screen and (min-width: 768px) {
    .collection-section {
        background-image: url(../img/tab/collection/tab_collection_element.png);
        background-repeat: no-repeat;
        background-position-y: 224px;
        padding-top: 50.54px;
        padding-bottom: 100px;
    }

    .container-collection {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .collection-name {
        font-size: 44px;
        line-height: 64px;
        letter-spacing: -1.32px;
    }

    .collection-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 20px;
    }

    .wrapper-imag-collection {
        max-width: fit-content;
    }

    .collection-item {
        width: calc((100% - 20px) / 2);
    }

    .product-name {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.9px;
    }

    .price-product {
        line-height: 18px;
        letter-spacing: 0.9px;
    }

}

@media screen and (min-width: 1280px) {

    .collection-section {
        background-image: url(../img/desk/collection/desk_collection_element.png);
        background-repeat: no-repeat;
        background-position-y: 291px;
        max-width: 1280px;
        padding-top: 70px;
        padding-bottom: 150px;
    }

    .collection-list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 20px;
    }

    .container-collection {
        max-width: 1280px;
        padding-left: 100.5px;
        padding-right: 98px;
    }


    .collection-item {
        width: calc((100% - 40px) / 3);

    }

    .product-name {
        width: 342px;
    }
}