.testimonials-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.testimonials-container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 375px;
}

.testimonials-title {
    color: #FCF9F9;
    font-family: Manrope;
    font-size: 32px;
    font-weight: 500;
    line-height: 137.5%;
    letter-spacing: -0.96px;
    margin-bottom: 64px;
    text-transform: capitalize;
}

.testimonials-item {
    padding: 50px 20px 20px 20px;
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    position: relative;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.testimonials-item:nth-last-child(-n+2) {
    display: none;
}

.testimonials-item:hover,
.testimonials-item:focus {
    border: 1px solid #FCF9F9;
}

.testimonials-item:hover .testimonials-name,
.testimonials-item:focus .testimonials-name {
    color: #ECD979;
}

.testimonials-item:hover .testimonials-text,
.testimonials-item:focus .testimonials-text {
    color: #FCF9F9;
}

.testimonials-name {
    color: #FCF9F9;
    text-align: center;
    text-transform: capitalize;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.testimonials-text {
    color: rgba(252, 249, 249, 0.40);
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.testimonials-img {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
    .testimonials-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .testimonials-container {
        padding-left: 32px;
        padding-right: 32px;
        max-width: 768px;
    }

    .testimonials-list {
        display: flex;
        gap: 32px;
    }

    .testimonials-item {
        width: calc((100% - 32px) / 2);
    }

    .testimonials-item:nth-child(2) {
        display: block;
    }

    .testimonials-item:nth-child(3) {
        display: none;
    }

    .testimonials-title {
        font-size: 44px;
        line-height: 145.455%;
        letter-spacing: -1.32px;
    }

    .testimonials-text {
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .testimonials-section {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .testimonials-container {
        padding-left: 100px;
        padding-right: 100px;
        max-width: 1280px;
    }

    .testimonials-list {
        display: flex;
        gap: 26px;
    }

    .testimonials-item {
        width: calc((100% - 52px) / 3);
    }

    .testimonials-item:nth-child(3) {
        display: block;
    }
}